li li,
li ul,
li p,
blockquote p {
	font-size: inherit !important;
}

li p {
	margin: 0;
}

details {
	text-align: center;
}

details summary {
	text-align: left;
}

details img {
	max-height: 50vh;
}
